header, nav,footer, main {
   display:block;
}
*{
	margin: 0;
	padding: 0;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

body{
font-family: 'LeagueGothic';
}
.wrapper{
	max-width: 2400px;
	position: relative;
	overflow: hidden;
}

header {
	height: 845px;
	background: url(../img/mountains.jpg) top no-repeat;
}

nav{
	width: 960px;
	margin: 0 auto;
	padding-top: 68px;
	position: relative;
}
.logo{
	float: left;
	font-size: 46px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#716C6C, direction=135, strength=2);
}
.logo__link{
	color: white;
	text-decoration: none;
}
.logo__link--purple{
	color: #4C024C;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#716C6C, direction=135, enabled=false, strength=2);
}
.menu{
	margin: 7px auto;
	float: right; 
	width: auto;
}
.menu__item{
	display: inline-block;
	font-size: 23px;
	margin-left: 51px;
	list-style: none;
}
.menu__link {
    color: white;
    padding-bottom: 10px;
    text-shadow: 0 2px 1px #716C6C;
    text-decoration: none;
    box-sizing: border-box;
}
.menu__link:focus{
	border-bottom: 2px solid #DE7BDE;
}
.menu--footer{
	float: left;
}
.menu--footer .menu__item {
    display: inline-block;
    font-size: 20px;
    margin:0 39px 0  0;
    list-style: none;
}

.slider{
	height: 400px;
	margin-top: 164px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#70333333",endColorstr="#70333333");
}
.two-col,
.three-col,
.six-col{
	color: white;
	width: 960px;
	margin: 0 auto;
}
.two-col__left{
	float: left;
	width: 53%;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#383030, direction=135, strength=2);
}
.two-col__title{
	font-size: 59px;
	margin-top: 80px;
	word-spacing: -3px;
    letter-spacing: -0.3px;
}
.two-col__sub-title{
	color: #DE7BDE;
	font-size: 32px;
	word-spacing: -2px;
}
.two-col__text{
    margin-top: 5px;
    font-family: Open Sans Light, Ubuntu Light, sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.two-col__right{
	float: right;
	width: 47%;
}
.two-col__img{
	position: absolute;
    margin-top: -16px;
    margin-left: 108px;
}
.slider-nav{
	width: 960px;
	margin: 0 auto;
}
.slider-nav__circle{
	float: right;
	margin-right: 165px;
    margin-top: 95px;
}
.circle-1, 
.circle-2, 
.circle-3, 
.circle-4{
	height: 15px;
	width: 15px;
	float: left;
	margin-left: 8px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#70333333",endColorstr="#70333333");
}
.circle-2{
	border: 3px solid grey;
}

.info{
	height: 340px;
	border:1px solid black;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#735082', endColorstr='#3c2b44',GradientType=0 );
}
.three-col{
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#383030, direction=135, strength=1);
	padding-top: 80px; 
}
.three-col__first,
.three-col__second,
.three-col__third{
	float: left;
	width: 29%;
	padding: 0 0 15px 10px;
}
.three-col__first{
	margin-right: 5%;
}
.three-col__second{	
	margin-right: 4%;
}
.three-col__third{
	float: right;
}
.icon{
	float: left;
}
.icon__first{
	float: left;
	width: 25px;
	height: 25px;
	margin: 6px 0 0 2px;
	background: url(../img/sprite.png) 0 0 no-repeat;
}
.icon__second{
	float: left;
	width: 27px;
	height: 25px;
	margin: 6px 0 0 2px;
	background: url(../img/sprite.png) -25px 0 no-repeat;
}
.icon__third{
	float: left;
	width: 23px;
	height: 25px;
	margin: 6px 0 0 5px;
	background: url(../img/sprite.png) -52px 0 no-repeat;
}

.three-col__info{
	color: white;
}
.three-col__title{
	font-size:30px;
	margin-left: 53px;
}
.three-col__text{
	font-family: Open Sank Light, Ubuntu Light, sans-serif;
	color: #b0abb4;
	font-size: 18px;
	margin-top: 7px;
	margin-left: 53px;
	line-height: 1.3;
}
.three-col__link{
	float: right;
	margin: 25px 4px;
	color: white;
	font-size: 18px;
	text-decoration: none;
}
.three-col__link:hover{
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#f4eff3, direction=135, strength=2);
}

.blog{
	background: #f9f9f9;
	height: 487px;
	border-bottom: 1px solid rgba(239, 235, 243, 0.56);
}

.left{
	float: left;
	width: 50%;
}

.left__comment{
	background: white;
    margin: 100px 40px 0 25px;
	padding: 31px 37px 34px;
	color: #454545;
	position: relative;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#9C9696, direction=135, strength=2);

}
.photo{
    position: absolute;
    left: -25px;
    top: 18px;
}
.left__title{
	float: left;
	font-size: 31px;
}
.right__title{
	font-size: 31px;
}
.left__sub-title{
	color: #edbfff;
	font-size: 31px;
}
.left__text{
	font-family: Open Sank Light, Ubuntu Light, sans-serif;
	line-height: 1.47;
    margin-top: 8px;
}
.left__triangle{
	border-top: 16px solid white;
    border-left: 16px solid transparent;
    border-right: 1px solid #716C6C;
    position: absolute;
    bottom: -15px;
    left:86%;
}

.slider-nav--white{
	width: auto;
}
.slider-nav--white .slider-nav__circle{
	float: none;
    margin: 32px auto;
    width: 100px;
}
.slider-nav--white .circle-1,
.slider-nav--white .circle-3,
.slider-nav--white .circle-4{
	margin: 0 8px 0 0;
	background: white;
	border: 1px solid #f2f2f2;
}

.slider-nav--white .circle-2{
	background: #626262;
	margin: 0 8px 0 0;
	border: 2px solid #f2f2f2;
}
.right{
	float: right;
	width: 50%;
	padding: 130px 0 0 29px;
	color: #454545;
}
.right__icon{
	float: left;
	margin: 0 16px 2px 0;
	width: 50px;
	height: 50px;
	background: url(../img/icon.png) center no-repeat;
}
.right__updates{
	margin: 14px 0;
}
.right__text-bold {
    font-family: Open Sank Bold, Ubuntu Bold, sans-serif;
    font-weight: 900;
    font-size: 18px;
    float: left;
    margin-top: 1.1%;
}
.right__text{
	font-family: Open Sank Light, Ubuntu Light, sans-serif;
	font-size: 16px;
	float: left;
    margin-top: 1.1%;

}
.right__link{
    float: right;
    margin: 6px 22px;
    color: #454545;
    font-size: 18px;
    text-decoration: none;
}
.logos{
	height: 120px;
	background: #f9f9f9;
}
.six-col{
	padding: 25px 0;
}
.six-col__1,
.six-col__2,
.six-col__3,
.six-col__4,
.six-col__5,
.six-col__6{
	display: inline-block;
	margin-right: 60px;
}
.six-col__1{
	margin-left: 94px;
}
.six-col__6{
	margin-right: 0;
}
.info--next{
	height: 396px;
	background: #ececec;
}
.info--next .three-col{
	text-shadow: none;
	padding-top: 97px;
}
.info--next .three-col__first,
.info--next .three-col__second,
.info--next .three-col__third{
	float: left;
	padding: 0;
	margin:0 60px 0 0;
}
.info--next .three-col__third{
	margin:0;
}
.info--next .three-col__info{
	color: #454545;
}
.three-col__title-logo{
	font-size: 46px;
}
.three-col__title-logo .color{
	color: #b9b9b9;
}
.three-col__sub-title{
	color: #c5c5c5;
	font-family: Open Sank Light, Ubuntu Light, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 2.5;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#e5e5ee, direction=135, strength=1);

}
.info--next .three-col__text{
    font-size: 17px;
    margin: 0;
    line-height: 1.4;
}
.info--next .three-col__title {
    font-size: 30px;
    margin: 0 0 8px 0;
}
footer{
	height: 116px;
	background: url(../img/footer.png) center no-repeat;
}
.footer{
    padding-top:48px;
}
.logo--footer{
	float: right;
}
.logo--footer .logo__link{
	font-family: Open Sank Light, Ubuntu Light, sans-serif;
	font-size: 12px;
    line-height: 2;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2D2D31, direction=135, strength=2);
}
.logo--footer .logo__link span{
	font-family: Open Sank Bold, Ubuntu Bold, sans-serif;
	font-weight: 900;
}




