header, nav,footer, main {
   display:block;
}
*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'LeagueGothic';
    src: url(../fonts/LeagueGothicRegular.eot);
    src: url(../fonts/LeagueGothicRegular.eot?#iefix')format('embedded-opentype');
    src: url(../fonts/LeagueGothicRegular.ttf);
   }

.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

body{
font-family: 'LeagueGothic';
}
.wrapper{
	max-width: 2400px;
	position: relative;
	overflow: hidden;
}

header {
	height: 845px;
	background: url(../img/mountains.jpg) top no-repeat;
}
.menu--dropdown{
	position: absolute;
	left: -9999px;
	width: 248px;
	text-align: center;
	}

.menu--dropdown	.menu__item {
	display: block;
	text-align: center;
	}
.menu__dropdown{ 
	display: none; 
}

.menu__dropdown .menu__item{
	padding: 10px 0 6px 0; 
	border-bottom: 1px solid black; 
	border-top: 1px solid #6f4a7e; 
	}
nav{
	width: 960px;
	margin: 0 auto;
	padding-top: 68px;
	position: relative;
}
.logo{
	float: left;
	font-size: 46px;
	text-shadow: 0 2px 1px #716C6C;
}
.logo__link{
	color: white;
	text-decoration: none;
}
.logo__link--purple{
	color: #4C024C;
	text-shadow: none;
}
.menu{
	margin: 7px auto;
	float: right; 
	width: auto;
}

.menu__item{
	display: inline-block;
	font-size: 23px;
	margin-left: 51px;
	list-style: none;
}

.menu__link {
    color: white;
    padding-bottom: 10px;
    text-shadow: 0 2px 1px #716C6C;
    text-decoration: none;
    box-sizing: border-box;
}
.menu__link:focus{
	border-bottom: 2px solid #DE7BDE;
}
.menu--footer{
	float: left;
}
.menu--footer .menu__item {
    display: inline-block;
    font-size: 20px;
    margin:0 39px 0  0;
    list-style: none;
}

.slider{
	height: 400px;
	margin-top: 164px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#70333333",endColorstr="#70333333");

}
.two-col,
.three-col,
.six-col{
	color: white;
	width: 960px;
	margin: 0 auto;
}
.two-col__left{
	float: left;
	width: 53%;
	text-shadow: 0 2px 1px #383030;
}
.two-col__title{
	font-size: 59px;
	margin-top: 80px;
	word-spacing: -3px;
    letter-spacing: -0.3px;
}
.two-col__sub-title{
	color: #DE7BDE;
	font-size: 32px;
	word-spacing: -2px;
}
.two-col__text{
    margin-top: 5px;
    font-family: Open Sans Light, Ubuntu Light, sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.two-col__right{
	float: right;
	width: 47%;
}
.two-col__img{
	position: absolute;
    margin-top: -16px;
    margin-left: 108px;
}
.slider-nav{
	width: 960px;
	margin: 0 auto;
}
.slider-nav__circle{
	float: right;
	margin-right: 165px;
    margin-top: 95px;
}
.circle-1, 
.circle-2, 
.circle-3, 
.circle-4{
	height: 15px;
	width: 15px;
	float: left;
	margin-left: 8px;
	border-radius: 100%;
	background: rgba(29, 28, 28, 0.5);
}
.circle-2{
	border: 3px solid rgba(243, 239, 239, 0.75);
	box-sizing: border-box;
}

.info{
	height: 340px;
	border:1px solid black;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#735082', endColorstr='#3c2b44',GradientType=0 );
}
.three-col{
	text-shadow: 0 2px 1px #383030;
	padding-top: 80px; 
}
.three-col__first,
.three-col__second,
.three-col__third{
	float: left;
	width: 29%;
	padding: 0 0 15px 10px;
}
.three-col__first{
	margin-right: 5%;
}
.three-col__second{	
	margin-right: 4%;
}
.three-col__third{
	float: right;
}
.icon{
	float: left;
}
.icon__first{
	float: left;
	width: 25px;
	height: 25px;
	margin: 6px 0 0 2px;
	background: url(../img/sprite.png) 0 0 no-repeat;
}
.icon__second{
	float: left;
	width: 27px;
	height: 25px;
	margin: 6px 0 0 2px;
	background: url(../img/sprite.png) -25px 0 no-repeat;
}
.icon__third{
	float: left;
	width: 23px;
	height: 25px;
	margin: 6px 0 0 5px;
	background: url(../img/sprite.png) -52px 0 no-repeat;
}

.three-col__info{
	color: white;
}
.three-col__title{
	font-size:30px;
	margin-left: 53px;
}
.three-col__text{
	font-family: Open Sank Light, Ubuntu Light, sans-serif;
	color: #b0abb4;
	font-size: 18px;
	margin-top: 7px;
	margin-left: 53px;
	line-height: 1.3;
}
.three-col__link{
	float: right;
	margin: 25px 4px;
	color: white;
	font-size: 18px;
	text-decoration: none;
}
.three-col__link:hover{
	text-shadow: 0 0 6px #f4eff3;
}

.blog{
	background: #f9f9f9;
	height: 487px;
	border-bottom: 1px solid rgba(239, 235, 243, 0.56);
}

.left{
	float: left;
	width: 50%;
}

.left__comment{
	background: white;
    margin: 100px 40px 0 25px;
	padding: 31px 37px 34px;
	color: #454545;
	position: relative;
	box-shadow: 1px 1px 2px #9C9696;;
}
.photo{
    position: absolute;
    left: -25px;
    top: 18px;
}
.left__title{
	float: left;
	font-size: 31px;
}
.right__title{
	font-size: 31px;
}
.left__sub-title{
	color: #edbfff;
	font-size: 31px;
}
.left__text{
	font-family: Open Sank Light, Ubuntu Light, sans-serif;
	line-height: 1.47;
    margin-top: 8px;
}
.left__triangle{
	border-top: 16px solid white;
    border-left: 16px solid transparent;
    border-right: 1px solid #716C6C;
    position: absolute;
    bottom: -15px;
    left:86%;
}

.slider-nav--white{
	width: auto;
}
.slider-nav--white .slider-nav__circle{
	float: none;
    margin: 32px auto;
    width: 100px;
}
.slider-nav--white .circle-1,
.slider-nav--white .circle-3,
.slider-nav--white .circle-4{
	margin: 0 8px 0 0;
	background: white;
	border: 1px solid #f2f2f2;
}

.slider-nav--white .circle-2{
	background: #626262;
	margin: 0 8px 0 0;
	border: 2px solid #f2f2f2;
	box-sizing: border-box;
}
.right{
	float: right;
	width: 50%;
	padding: 130px 0 0 29px;
	box-sizing: border-box;
	color: #454545;
}
.right__icon{
	float: left;
	margin: 0 16px 2px 0;
	width: 50px;
	height: 50px;
	background: url(../img/icon.png) center no-repeat;
}
.right__updates{
	margin: 14px 0;
}
.right__text-bold {
    font-family: Open Sank Bold, Ubuntu Bold, sans-serif;
    font-weight: 900;
    font-size: 18px;
    float: left;
    margin-top: 1.1%;
}
.right__text{
	font-family: Open Sank Light, Ubuntu Light, sans-serif;
	font-size: 16px;
	float: left;
    margin-top: 1.1%;

}
.right__link{
    float: right;
    margin: 6px 22px;
    color: #454545;
    font-size: 18px;
    text-decoration: none;
}
.logos{
	height: 120px;
	background: #f9f9f9;
}
.six-col{
	padding: 25px 0;
	box-sizing: border-box;
}
.six-col__1,
.six-col__2,
.six-col__3,
.six-col__4,
.six-col__5,
.six-col__6{
	display: inline-block;
	margin-right: 60px;
}
.six-col__1{
	margin-left: 94px;
}
.six-col__6{
	margin-right: 0;
}
.info--next{
	height: 396px;
	background: #ececec;
}
.info--next .three-col{
	text-shadow: none;
	padding-top: 97px;
}
.info--next .three-col__first,
.info--next .three-col__second,
.info--next .three-col__third{
	float: left;
	padding: 0;
	margin:0 60px 0 0;
}
.info--next .three-col__third{
	margin:0;
}
.info--next .three-col__info{
	color: #454545;
}
.three-col__title-logo{
	font-size: 46px;
}
.three-col__title-logo .color{
	color: #b9b9b9;
}
.three-col__sub-title{
	color: #c5c5c5;
	font-family: Open Sank Light, Ubuntu Light, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 2.5;
	text-shadow: 0px 1px 0px #e5e5ee;
}
.info--next .three-col__text{
    font-size: 17px;
    margin: 0;
    line-height: 1.4;
}
.info--next .three-col__title {
    font-size: 30px;
    margin: 0 0 8px 0;
}
footer{
	height: 116px;
	background: url(../img/footer.png) center no-repeat;
}
.footer{
    padding-top:48px;
}
.logo--footer{
	float: right;
}
.logo--footer .logo__link{
	font-family: Open Sank Light, Ubuntu Light, sans-serif;
	font-size: 12px;
    line-height: 2;
	text-shadow: 0px 1px 2px #2D2D31;
}
.logo--footer .logo__link span{
	font-family: Open Sank Bold, Ubuntu Bold, sans-serif;
	font-weight: 900;
}

@media (max-width: 960px){
	header {
		height: 797px;
	}

	nav,
	.two-col,
	.three-col,
	.slider-nav,
	.six-col{
		width: 768px;
		padding-left:20px;
		box-sizing: border-box;
	}
	footer{
		height: 200px;
	}
	.logo{
		width: 100%;
	}
	.logo--footer{
		margin: 50px 23px 0 0;
	}
	.menu{
		margin-top: 30px;
		float: left;
	}
	.menu__item {
    	margin-left: 0;
    	margin-right: 46px;
	}
	.slider{
		margin-top: 63px;
	}
	.two-col__left{
		width: 45%;
		padding: 20px 0 0 23px;
		box-sizing: border-box;
	}
	.two-col__title{
		font-size: 48px;
	}
	.two-col__sub-title{
		font-size: 25px;
		padding-top: 7px;
	}
	.two-col__text{
		height: 105px;
		overflow: hidden;
		line-height: 26px;
	}
	.two-col__img {
    	margin-top: -23px;
    	margin-left: 30px;
    }
	.slider-nav{
		padding: 0;
	}
	.slider-nav__circle{
		margin-right: 142px;
    	margin-top: 38px;
	}
	.three-col {
    	padding-top: 78px;
	}
	.three-col__first {
    	margin-right: 3%;
	}
	.three-col__third {
    	float: left;
	}
	.icon__first {
        margin: 3px 0 0 3px;
	}
	.three-col__title {
    	font-size: 24px;
	}

	.three-col__text {
	    font-size: 17px;
	    margin-top: 3px;
	    line-height: 1.4;
	}
	.three-col__link {
	    margin: 15px 15px;
	}
	.left__comment {
   		padding-bottom: 50px;
	}
	.left__comment-text{
		height: 190px;
		overflow: hidden;
	}
	.left__title,
	.left__sub-title{
    font-size: 25px;
    width: 100%;
	}
	.slider-nav--white .slider-nav__circle {
    	margin: 27px auto;
	}
	.right{
    	padding: 132px 0 0 20px;
   	}
	.right-title{
		font-size: 29px;
	}
	.right__text-bold {
    	font-size: 16px;
    }
	.six-col__1, 
	.six-col__2, 
	.six-col__3, 
	.six-col__4{
    	margin-right: 50px;
	}
	.six-col__5{
		margin-right: 40px;
	}
	.six-col__1 {
    	margin-left: 3px;
	}
	.six-col__4{
		margin-left: 8px;
	} 
	.six-col__6 {
		margin:0;
	}


	.info--next .three-col__first,
	.info--next .three-col__second	{
		margin:0 48px 0 0;
	}
	.info--next .three-col__title {
    font-size: 25px;
	margin-top: 5px;
	}
}

@media (max-width: 768px){
	header {
		height: 550px;
	}
	nav{
		height: 178px;
	}
	nav,
	.two-col,
	.three-col,
	.slider-nav,
	.six-col{
		width: 480px;
		box-sizing: border-box;
	}
	.logo{
		text-align: center;	
	}
	.logo__link{
		margin-right:20px;
	}
	.menu{
		display: none;
	}
	.menu--dropdown{
		top:130px;
		left: 115px;
		opacity: 1;
		z-index: 100000;
	}
	.menu--dropdown .menu__item{
		font-size: 23px;
		padding-top: 13px;  
		margin:0;
	}
	.menu--dropdown .menu__item:hover{
		border-radius: 15px;
		background: rgba(51, 29, 62, 0.69);
	}
	.menu--dropdown .menu__item:hover .menu__dropdown{
		display: block;
	}
	.menu__dropdown .menu__item:hover{
		background: rgba(51, 29, 62, 0.69);
		border-bottom: 2px solid #DE7BDE; 
	}
	.slider{
		height: 245px;
		margin-top: 25px;
	}
	.two-col__left {
    	padding: 30px 0 0 20px;
    	box-sizing: border-box;
}
	.two-col__title {
    	font-size: 34px;
    	margin-top: 64px;
	}	
	.two-col__sub-title {
	    font-size: 18px;
	    padding-top: 4px;
	}
	.two-col__text {
		display: none;
	}
	.two-col__img{
		height: 304px;
		width: 192px;
		margin-top: -8px;
    	margin-left: -6px;
		background: url(../img/IPhone_small.png) center no-repeat;
	}
	.two-col__img img{
		display: none;
	}
	.slider-nav__circle {
		margin-right: 190px;
		margin-top: 25px;
		}

	.info{
		height: 597px;
	}
	.three-col {
    	padding-top: 74px;
	}
	.three-col__link {
    	margin: 19px 15px;
	}
	.three-col__first, 
	.three-col__second, 
	.three-col__third {
	    width: 95%;
	    padding: 0 0 6px 10px;
}
	.blog{
		height: 786px;
	}
	.left{
		width: 100%;
	}
	.left__comment{
	    margin: 65px 25px 0 25px;
	}
	.left__title{
    	font-size: 31px;
    	width: auto;
	}
	.left__sub-title {
		font-size: 31px;
	}
	.left__text {
	    line-height: 1.5;
	    margin-top: 10px;
	}
	.right {
    	padding: 22px 0 0 63px;
    	width: 100%;
	}
	.right__link {
	    margin: 6px 65px;	
	   }
	.logos{
		height: 230px;
	}
	.six-col {
	    padding: 35px 0 0 83px;
	    box-sizing: border-box;
	}
	.six-col__1, 
	.six-col__2, 
	.six-col__3, 
	.six-col__4, 
	.six-col__5, 
	.six-col__6 {
    	margin: 0 51px 25px 0;
	}
	.six-col__5,
	.six-col__4,
	.six-col__5{
		margin-right: 55px;
		margin-left: -16px;
	}


	.info--next{
		height: 666px;
	}
	.info--next .three-col {
	    padding-top: 65px;
	    padding-left: 16px;
	}
	.info--next .three-col__first{
		margin-bottom: 40px;
		}
	.info--next .three-col__second{
		margin-bottom: 57px;
	}

	footer{
		height: 200px;
	}
	.footer{
		padding-top: 50px;
	}
	.menu--footer {
    	margin-left: 0;
	}
	.menu--footer .menu__item{
		margin-right: 21px;
	}

	.logo--footer {
	    margin: 30px 151px;
	}
}

@media (max-width: 480px){
	header {
		height: 515px;
	}
	nav,
	.two-col,
	.three-col,
	.slider-nav,
	.six-col{
		width: 320px;
	}
	.menu--dropdown {
	    top: 132px;
	    left: 35px;
	}
	.two-col__left{
		width: 90%;
		padding: 30px 0 0 46px;
	}
	.two-col__text{
		display: none;
	}
	.two-col__right{
		display: none;
	}
	.slider-nav__circle {
		margin: -17px 113px 0 0;
		z-index: 10000;
		}
	.three-col {
    	padding-top: 70px;
	}
	.three-col__link {
    	margin: 19px 15px;
	}
	.three-col__text{
		height: 72px;
		overflow: hidden;
	}
	.three-col__first, 
	.three-col__second, 
	.three-col__third {
	    width: 90%;
	    padding: 0 0 6px 10px;
	}
	.three-col__second{
		margin-bottom: 17px;
	}
	.three-col__link {
    margin: 17px 8px;
	}
	.left__comment{
	    padding: 31px 35px 30px;
	}
	.left__comment-text {
	    height: 220px;
	}
	.left__text {
     margin:0; 
}
	.photo {
	    top: 24px;
	}
	.left__title,
	.left__sub-title{
	    font-size: 25px;
	    width: 100%;
	}
	.right {
    padding: 15px 0 0 0;
    width: 100%;
	}
	.right__updates {
	    margin: 15px 0;
	}
	.right__text-bold {
    font-size: 17px;
    width: 180px;
    height: 18px;
    text-overflow: clip;
    overflow: hidden;  
}
	.right__text{
	    width: 180px;
	    height: 16px;
	    margin-top: 8px;
	    text-overflow: clip;
	    overflow: hidden;  
	}
	.right__link {
    	margin: 2px 25px;
	}
	.logos {
    	height: auto;
	}

	.six-col {
    	padding: 53px 0 0 63px;
	}
	.six-col__1, 
	.six-col__2{
    	width: auto;
    	margin: 0 51px 57px 0;
	}
	.six-col__3{
		margin: 0 50px 41px 8px;
	} 

	.six-col__4{
		margin: 0 40px 41px 8px;
	} 
	.six-col__5{
		margin: -10px 30px 41px -27px;
	} 
	.six-col__6 {
		margin: 0 0 69px 13px;
	}
    .info--next{
    	display: none;
    }
	footer{
		height: 200px;
	}
	.menu--footer{
		display: none;
	}
	.logo--footer {
    margin: -13px 73px 0 0;
}
}
@media (max-width: 320px){
	.wrapper{
		overflow: scroll;
	}
}

