@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold.ttf); }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.ttf); }
@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf); }
* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: '';
  clear: both;
  display: block; }

body {
  background: #fff;
  color: #000;
  font-family: "Montserrat-Bold", arial; }

.wrapper,
header,
footer {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden; }

nav,
.block,
.footer {
  max-width: 940px;
  margin: 0 auto; }

header {
  display: table;
  height: 700px;
  width: 1440px;
  background: url(../img/head.jpg) center; }

nav {
  margin-top: 48px; }

.logo, .logo--foot {
  float: left; }

.logo--320px {
  display: none; }

.menu {
  float: right; }

.logo__link {
  color: #fff;
  font-size: 20px;
  text-decoration: none; }

.menu__item {
  display: inline-block;
  list-style: none; }

.menu__link {
  color: #fff;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 20px;
  border: 2px solid transparent;
  text-decoration: none; }

.menu__link:hover {
  border: 2px solid #fff; }

.text {
  width: 500px;
  margin: 0 auto;
  text-align: center; }

.title {
  font-size: 52px;
  color: #fff;
  margin-top: 150px;
  line-height: 1.15; }

.title__sub {
  font-family: "Roboto-Light", arial;
  color: #fff;
  margin-top: 30px;
  font-size: 24px; }

.text__link, .search__link {
  display: inline-block;
  font-family: "Montserrat-Bold", arial;
  font-size: 14px;
  color: #fff;
  margin-top: 36px;
  padding: 13px 20px;
  border-radius: 20px;
  background: #FF4e50;
  text-decoration: none; }

.block {
  margin-top: 95px; }

.content {
  margin-top: 35px; }

.text--small {
  text-align: center; }
  .text--small .title {
    font-size: 23px;
    color: #000;
    margin: 0; }
  .text--small .title__sub {
    font-size: 18px;
    color: #000; }

.step {
  width: auto;
  float: left;
  margin-right: 20px; }

.step:last-child {
  margin-right: 0; }

.step1,
.step2,
.step3 {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 5px; }

.text--info {
  position: absolute;
  bottom: 0;
  padding: 20px;
  box-sizing: border-box; }
  .text--info .text__link, .text--info .search__link {
    font-family: "Montserrat-Regular", arial;
    font-size: 10px;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
    padding: 5px 15px; }
  .text--info .title {
    font-size: 24px;
    margin-top: 15px;
    line-height: 1.2; }
  .text--info .title__sub {
    margin-top: 15px;
    font-size: 14px; }

.photo {
  float: left;
  width: 210px;
  margin-right: 30px; }

.photo:last-child {
  margin-right: 0; }

.photo1,
.photo2,
.photo3,
.photo4 {
  position: relative;
  border-radius: 100%;
  margin-left: 50px;
  width: 120px;
  height: 120px; }

.photo1 {
  background: url(../img/photo1.png); }

.photo2 {
  background: url(../img/photo2.png); }

.photo3 {
  background: url(../img/photo3.png); }

.photo4 {
  background: url(../img/photo4.png); }

.icon1,
.icon2,
.icon3,
.icon4 {
  height: 40px;
  width: 40px;
  bottom: -5px;
  right: -5px;
  position: absolute; }

.icon1 {
  background: url(../img/sprite.png) 0 0 no-repeat; }

.icon2 {
  background: url(../img/sprite.png) -40px 0 no-repeat; }

.icon3 {
  background: url(../img/sprite.png) -80px 0 no-repeat; }

.icon4 {
  background: url(../img/sprite.png) -120px 0 no-repeat; }

.text--photo {
  text-align: center; }
  .text--photo .title {
    font-size: 14px;
    color: #000;
    margin-top: 18px; }
  .text--photo .title__sub {
    margin-top: 15px;
    color: #8f8f8f;
    font-size: 14px;
    line-height: 1.2; }

.text--mod {
  text-align: center; }
  .text--mod .text__link, .text--mod .search__link {
    color: #FF4e50;
    padding: 12px 25px;
    background: #fff;
    border: 2px solid #FF4e50; }

.grid {
  max-width: 940px; }

.grid:after {
  display: block;
  clear: both;
  content: ''; }

.grid-item,
.grid-item--width2 {
  margin-bottom: 20px;
  display: table;
  float: left;
  overflow: hidden;
  width: 300px;
  height: 310px;
  border-radius: 5px;
  background-size: contain; }
  .grid-item .title,
  .grid-item--width2 .title {
    display: table-cell;
    font-size: 21px;
    color: #fff;
    vertical-align: middle;
    text-align: center; }

.grid-item--width2 {
  width: 620px; }

.grid-item:last-child,
.grid-item:nth-child(6) {
  margin-bottom: 0; }

.search {
  margin: 40px auto 100px;
  width: 410px; }

.search__field {
  float: left;
  padding: 13px 0 9px 14px;
  width: 240px;
  color: #8f8f8f;
  margin-right: 10px;
  font-size: 14px;
  font-family: "Roboto-Light", arial;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  box-sizing: border-box;
  background: transparent; }

.search__link {
  margin-top: 0; }

footer {
  border-top: 5px solid #FF4e50;
  box-sizing: content-box; }

.logo--foot .logo__link {
  color: #FF4e50;
  font-size: 17px;
  margin-right: 95px; }

.logo--right {
  float: right; }

.menu--foot {
  float: left;
  /*	.menu__item:hover .menu__dropdown{
  		display: block;
  	}*/ }
  .menu--foot .menu__item {
    float: left;
    font-size: 15px;
    margin-right: 85px;
    cursor: pointer; }
  .menu--foot .menu__dropdown {
    /*display: none;*/
    margin: 13px 0 40px 0; }
    .menu--foot .menu__dropdown .menu__item {
      display: block;
      float: none;
      padding: 0 0 10px 0;
      margin: 0; }
    .menu--foot .menu__dropdown .menu__link {
      color: #8f8f8f;
      font-family: "Roboto-Light", arial;
      padding: 0;
      border: none; }
    .menu--foot .menu__dropdown .menu__link:hover {
      border: none; }

@media (max-width: 1440px) {
  .wrapper,
  header,
  footer,
  nav,
  .block,
  .footer {
    width: 768px;
    box-sizing: border-box; }

  nav {
    padding: 0 50px; }

  .block {
    padding: 0 10px; }

  .footer {
    padding: 0 36px; }

  .step1,
  .step2,
  .step3 {
    width: 236px; }

  .content-photo {
    padding-left: 135px;
    box-sizing: border-box; }

  .photo {
    margin-right: 50px; }

  .photo:first-child,
  .photo:nth-child(2) {
    margin-bottom: 55px; }

  .grid-item {
    width: 236px; }

  .grid-item--width2 {
    width: 492px; }

  .logo--foot .logo__link {
    margin-right: 90px; }

  .menu--foot .menu__item {
    margin-right: 95px; } }
@media (max-width: 768px) {
  .wrapper,
  header,
  footer,
  nav,
  main,
  .block,
  .footer {
    width: 320px; }

  header {
    height: 540px; }

  nav {
    margin-top: 30px;
    padding-left: 65px; }

  .logo, .logo--foot {
    display: none; }

  .logo--320px {
    display: block;
    margin-top: 125px;
    text-align: center; }

  .menu {
    float: none; }

  .text {
    width: 280px; }
    .text .title {
      font-size: 30px;
      margin-top: 33px;
      line-height: 1.2; }
    .text .title__sub {
      font-size: 18px;
      margin-top: 10px; }
    .text .text__link, .text .search__link {
      margin-top: 20px;
      width: 240px; }

  .block {
    margin-top: 35px; }

  .content {
    margin-top: 15px; }

  .text--small .title {
    font-size: 22px; }
  .text--small .title__sub {
    margin-top: 15px; }

  .step {
    margin: 0 0 10px 0; }

  .step:last-child {
    margin-bottom: 0; }

  .step1,
  .step2,
  .step3 {
    width: 300px;
    height: 240px;
    overflow: hidden; }

  .content-photo {
    padding-left: 40px; }

  .photo,
  .photo:first-child {
    margin-bottom: 30px;
    margin-right: 0; }

  .photo:last-child {
    margin-bottom: 0; }

  .text--mod .text__link, .text--mod .search__link {
    margin-top: 0;
    width: 270px;
    padding: 11px 25px;
    box-sizing: border-box; }

  .grid-item,
  .grid-item:nth-child(6) {
    margin-bottom: 10px; }

  .grid-item,
  .grid-item--width2 {
    width: 300px;
    height: 120px; }

  .search {
    margin: 18px auto 40px;
    padding-left: 5px; }

  .search__field {
    width: 280px;
    margin-bottom: 8px; }

  .search__link {
    width: 240px;
    text-align: center; }

  .footer {
    padding: 0;
    text-align: center; }

  .logo--foot {
    display: block;
    float: none;
    margin-bottom: 15px; }
    .logo--foot .logo__link {
      margin-right: 0; }

  .menu--foot {
    float: none;
    margin-bottom: 18px; }
    .menu--foot .menu__item {
      display: block;
      width: 200px;
      margin: 0 auto;
      float: none; }
    .menu--foot .menu__dropdown {
      margin: 5px 0 15px 0; }
      .menu--foot .menu__dropdown .menu__item {
        display: inline;
        padding: 0;
        width: auto;
        margin-right: 10px; }

  .logo--right {
    float: none;
    margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
