h3{
	text-align: center;
}
.tabs,
form {
    width: 750px;
    position: relative;
    margin: 2% auto;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
 
.tab {
    padding: 10px;
}
 
.menu {
    display: table-row;
    background: #e9e9e9;;
}
 
.menu__item {
    display: table-cell;
    width: auto;
}
 
.menu__link {
    display: table-cell;
    width: 2000px;
    text-align: center;
    text-decoration: none;
    background: #f8f8f8;
    color: #292929;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 10px 0;
}
 
.active {
    background: #5f84c1;
    color: #fff;
}
.item{
	margin: 10px 0;
}
label{
	width: 100px;
	display: inline-block;;
}
input{
	margin-left: 10px;
}
button{
	margin: 2%;
}

.tooltip{
	position:absolute;
	z-index:999;
	background-color:#dedede;
	padding:2px;
	border:1px solid #fff;
	width:250px;
}

.tooltip p{
	margin:0;
	padding:0;
	color:#fff;
	background-color:#5f84c1;
	padding:2px 7px;
}


