

/** Carousel **/

.jcarousel {
  position: relative;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
}

.jcarousel ul {
  position: relative;
  height: 400px;
  width: 20000em;
  margin: 0;
  padding: 0;

  list-style: none;
}

.jcarousel li {
  float: left;
  height: 400px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 200px;

  width: 40px;
  height: 56px;

      cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.jcarousel-control-prev {
  top: 152px;
  left: 16px;

  background: url('../img/carousel/left-arrow.png') center no-repeat;

  /*background-color: black;*/
}

.jcarousel-control-next {
  top: 152px;
  right: 16px;

  background: url('../img/carousel/right-arrow.png') center no-repeat;
}


.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  cursor: default;

  /*opacity: .5;*/
}
