@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';

body {
    margin: 0;
    padding: 0;

    color: #4E444C;
    background: #F0EFE7;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);

    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;

  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: normal;

  text-rendering: optimizelegibility;
}

.wrapper h1, .select h1{
    color: #4E443C;

    font-size: 36px;
    font-weight: bold;
}

h2, h2 a {
    color: #F14E32;
}

h3, h3 a {
  color: #0388A6;
}

a {
  color: #0388A6;
}

pre {
  overflow-x:auto;

  color: #fff;
  border:1px solid #000;
  background: #222;
  text-shadow: none;
}

.wrapper,
.footer{
  width: 25%;
  margin: auto;
  padding: 50px 25% 50%S 20px;
}

#logo-sub {
    position: relative;
    top: -20px;
    left: 213px;

    width: 0;

    white-space: nowrap;

    color: #4285f4;

    font-size: 16px;
}
