* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: '';
  clear: both;
  display: block; }

body {
  background: #fff;
  color: #000;
  font-family: "Ubuntu Medium", arial; }

.wrapper,
.galery,
.news,
.logos,
footer {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto; }

nav,
.slider,
.two-col,
.three-col,
.galery__photo,
.partners,
.footer {
  width: 1160px;
  margin: 0 auto; }

.top {
  margin: 35px auto; }

.logo {
  float: left; }

.menu {
  float: right;
  width: auto;
  margin-top: 10px; }

.menu__item {
  margin-left: 17px;
  display: inline-block;
  list-style: none; }

.menu__link {
  text-decoration: none; }

.fb,
.tw,
.rss,
.in,
.sk {
  width: 18px;
  height: 18px;
  background: url(../img/sn.png) 0 0 no-repeat; }

.fb {
  width: 11px; }

.tw {
  width: 17px;
  background-position: -12px 0; }

.rss {
  background-position: -28px 0; }

.in {
  background-position: -46px 0; }

.sk {
  background-position: -63px 0; }

.fb:hover {
  background-position: 0 -20px; }

.tw:hover {
  background-position: -12px -20px; }

.rss:hover {
  background-position: -28px -20px; }

.in:hover {
  background-position: -46px -20px; }

.sk:hover {
  background-position: -63px -20px; }

.bottom {
  height: 60px;
  background: #2a2d32; }

.menu--main {
  float: left;
  width: auto; }
  .menu--main .menu__item {
    margin: 0;
    border-right: 2px solid #000; }
  .menu--main .active {
    background: #248cec; }
  .menu--main .menu__link {
    display: block;
    font-family: "Ubuntu Condensed", arial;
    padding: 22px 40px;
    color: #fff;
    box-sizing: border-box; }
  .menu--main .menu__link:hover {
    color: #f4b60d; }

.search {
  float: right;
  margin: 11px;
  width: 240px;
  height: 40px;
  border: 2px solid #000;
  box-sizing: border-box;
  background: #35383c; }

.search__text {
  width: 200px;
  height: 36px;
  color: #4c4e52;
  float: left;
  padding: 14px;
  box-sizing: border-box;
  border: none;
  background: transparent; }

.search__btn {
  width: 36px;
  height: 36px;
  float: right;
  border: none;
  background: url(../img/search.png) center no-repeat; }

.slider {
  margin-top: 40px;
  position: relative; }

.slogan {
  z-index: 10000;
  bottom: 40px;
  left: 35px;
  position: absolute; }

.info,
.galery {
  margin-top: 70px; }

.three-col__info {
  margin-left: 120px; }

.three-col__first,
.three-col__second,
.three-col__third {
  float: left;
  width: 33%; }

.numb {
  color: #e9e9ea;
  font-size: 65px;
  float: left; }

.icon__first,
.icon__second,
.icon__third {
  width: 35px;
  height: 35px;
  margin-bottom: 17px;
  background: url(../img/set.png) 0 0 no-repeat; }

.icon__second {
  background-position: -35px 0; }

.icon__third {
  background-position: -70px 0; }

.three-col__title,
.three-col__text {
  margin-bottom: 25px; }

.three-col__text {
  font-family: 'Arial Regular';
  font-size: 13px;
  color: #8a8a8a; }

.three-col__link {
  float: left;
  display: block;
  font-family: "Ubuntu Condensed", arial;
  text-decoration: none;
  color: #000; }

.link {
  margin-bottom: 50px; }

.link:hover .strelka {
  background-position: -13px center; }
.link:hover .three-col__link {
  color: #248cec; }

.strelka {
  width: 10px;
  height: 20px;
  background: url(../img/strelka.png) 0 center no-repeat;
  margin-left: 75px; }

.galery {
  background: #2a2d32; }

.galery__photo,
.two-col,
.footer {
  width: 1200px; }

.galery__title {
  color: #fff;
  font-size: 20px;
  padding: 48px 0;
  box-sizing: border-box; }

.photo {
  float: left;
  width: 260px;
  margin-right: 40px; }

.sign {
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: "Ubuntu Condensed", arial;
  margin: 35px 0 70px 0; }

.img1,
.img2,
.img3,
.img4 {
  width: 261px;
  height: 261px; }

.img1 {
  background: url(../img/services.png) 0 0 no-repeat; }

.img2 {
  background: url(../img/services.png) -261px 0 no-repeat; }

.img3 {
  background: url(../img/services.png) -522px 0 no-repeat; }

.img4 {
  background: url(../img/services.png) -783px 0 no-repeat; }

.photo:hover {
  cursor: pointer; }
  .photo:hover .img1 {
    background: url(../img/services.png) 0 -261px no-repeat; }
  .photo:hover .img2 {
    background: url(../img/services.png) -261px -261px no-repeat; }
  .photo:hover .img3 {
    background: url(../img/services.png) -522px -261px no-repeat; }
  .photo:hover .img4 {
    background: url(../img/services.png) -783px -261px no-repeat; }
  .photo:hover .sign {
    color: #f4b60d; }

.news {
  background: #f7f7f7; }

.left,
.right {
  float: left;
  width: 570px;
  margin-right: 30px;
  margin-bottom: 80px; }

.two-col__title {
  font-size: 20px;
  padding: 60px 0; }

.new {
  margin-bottom: 30px; }

.image {
  float: left;
  margin-right: 30px;
  position: relative; }

.date {
  top: 10px;
  left: -20px;
  position: absolute; }

.left__title {
  font-size: 14px;
  margin-top: 10px;
  color: #000;
  cursor: pointer; }

.left__title:hover {
  color: #248cec; }

.left__subtitle {
  font-family: "Ubuntu", arial;
  font-size: 14px;
  color: #8a8a8a;
  line-height: 2; }
  .left__subtitle span {
    color: #248cec; }

.left__text {
  font-family: "Ubuntu", arial;
  font-size: 14px;
  color: #8a8a8a;
  margin-top: 30px; }

.panel {
  margin-bottom: 5px; }

.p1,
.p2 {
  float: left;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 12px 12px;
  font-family: Arial;
  background: #fff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box; }

.p2 {
  width: 530px;
  text-align: left; }

.panel--active .p1,
.panel--active .p2 {
  color: #fff;
  background: #f4b60d;
  border: none; }
.panel--active .p1 {
  border-right: 1px solid #f6c53d; }

.panel__text {
  color: #8a8a8a;
  font-family: "Ubuntu", arial;
  font-size: 14px;
  padding: 60px 0 40px 37px; }

.logos {
  border-bottom: 1px solid #2a2d32; }

.partners {
  margin: 90px auto; }

footer {
  background: #2a2d32; }

.menu--footer {
  color: #fff;
  padding: 60px 0 80px 0; }
  .menu--footer .menu__item {
    display: inline-block;
    width: 260px;
    margin: 0 35px 0 0; }

.menu__dropdown {
  margin-top: 35px; }
  .menu__dropdown .menu__item {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #828385;
    margin: 0; }
  .menu__dropdown .menu__link {
    color: #828385;
    font-family: "Ubuntu", arial;
    text-decoration: none; }
  .menu__dropdown .menu__link:hover {
    color: #248cec; }

/*# sourceMappingURL=main.css.map */
