
  $fontRegular:'Roboto-Regular';
  $fontMedium:'Roboto-Medium';
  $fontLight:'Roboto-Light';
  $fontLogo:'MuseoSansBold';
  /*$fontBold:'pt-sans-bold'; */
  $colorGrey:#b9b8b4;
  $colorBlack:#181616;
  $colorBtn: #642121;
  
  @font-face {
    font-family: 'Roboto-Light',;
    src: url(../fonts/Roboto-Light.eot);
    src: url(../fonts/Roboto-Light.ttf);
   }
  @font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.eot);
    src: url(../fonts/Roboto-Medium.ttf);
   }
 @font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.eot);
    src: url(../fonts/Roboto-Regular.ttf);
   }
  @font-face {
    font-family: 'MuseoSansBold';
    src: url(../fonts/MuseoSansBold.eot);
    src: url(../fonts/MuseoSansBold.ttf);
   }


